{% extends 'Navbar.html' %}
{% load static %}

{% block body %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Survey Home Page</title>
  <style>
body{

    }
  </style>
</head>
<body>
  <h1>Welcome to E Survey Web Application</h1>
  <p>Surveys are a powerful tool for collecting information, opinions, and feedback from individuals. They are widely used in various fields, including market research, education, and employee engagement.</p>
  <p>Our platform provides you with the ability to create, distribute, and analyze surveys effortlessly. Whether you're conducting customer satisfaction surveys, educational assessments, or employee feedback, we've got you covered!</p>
</body>
</html>

{% endblock %}
